Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache
compile
config.h.in
config.log
config.status
configure
depcomp
install-sh
ltmain.sh
m4
missing
config.h
dieharder-config
dieharder.html
dieharder.spec
dieharder.pc
dieharder/.deps/
dieharder/.libs/
dieharder/dieharder
dieharder/dieharder-add_ui_rngs.o
dieharder/dieharder-add_ui_tests.o
dieharder/dieharder-choose_rng.o
dieharder/dieharder-dieharder.o
dieharder/dieharder-dieharder_exit.o
dieharder/dieharder-help.o
dieharder/dieharder-list_rngs.o
dieharder/dieharder-list_tests.o
dieharder/dieharder-output.o
dieharder/dieharder-output_rnds.o
dieharder/dieharder-parsecl.o
dieharder/dieharder-rdieharder.o
dieharder/dieharder-run_all_tests.o
dieharder/dieharder-run_test.o
dieharder/dieharder-set_globals.o
dieharder/dieharder-testbits.o
dieharder/dieharder-time_rng.o
dieharder/dieharder-user_template.o
dieharder_version.h
libdieharder/.deps/
libdieharder/.libs/
libdieharder/libdieharder.la
libdieharder/libdieharder_la-Vtest.lo
libdieharder/libdieharder_la-Vtest.o
libdieharder/libdieharder_la-Xtest.lo
libdieharder/libdieharder_la-Xtest.o
libdieharder/libdieharder_la-bits.lo
libdieharder/libdieharder_la-bits.o
libdieharder/libdieharder_la-chisq.lo
libdieharder/libdieharder_la-chisq.o
libdieharder/libdieharder_la-countx.lo
libdieharder/libdieharder_la-countx.o
libdieharder/libdieharder_la-dab_bytedistrib.lo
libdieharder/libdieharder_la-dab_bytedistrib.o
libdieharder/libdieharder_la-dab_dct.lo
libdieharder/libdieharder_la-dab_dct.o
libdieharder/libdieharder_la-dab_filltree.lo
libdieharder/libdieharder_la-dab_filltree.o
libdieharder/libdieharder_la-dab_filltree2.lo
libdieharder/libdieharder_la-dab_filltree2.o
libdieharder/libdieharder_la-dab_monobit2.lo
libdieharder/libdieharder_la-dab_monobit2.o
libdieharder/libdieharder_la-diehard_2dsphere.lo
libdieharder/libdieharder_la-diehard_2dsphere.o
libdieharder/libdieharder_la-diehard_3dsphere.lo
libdieharder/libdieharder_la-diehard_3dsphere.o
libdieharder/libdieharder_la-diehard_birthdays.lo
libdieharder/libdieharder_la-diehard_birthdays.o
libdieharder/libdieharder_la-diehard_bitstream.lo
libdieharder/libdieharder_la-diehard_bitstream.o
libdieharder/libdieharder_la-diehard_count_1s_byte.lo
libdieharder/libdieharder_la-diehard_count_1s_byte.o
libdieharder/libdieharder_la-diehard_count_1s_stream.lo
libdieharder/libdieharder_la-diehard_count_1s_stream.o
libdieharder/libdieharder_la-diehard_craps.lo
libdieharder/libdieharder_la-diehard_craps.o
libdieharder/libdieharder_la-diehard_dna.lo
libdieharder/libdieharder_la-diehard_dna.o
libdieharder/libdieharder_la-diehard_operm5.lo
libdieharder/libdieharder_la-diehard_operm5.o
libdieharder/libdieharder_la-diehard_opso.lo
libdieharder/libdieharder_la-diehard_opso.o
libdieharder/libdieharder_la-diehard_oqso.lo
libdieharder/libdieharder_la-diehard_oqso.o
libdieharder/libdieharder_la-diehard_parking_lot.lo
libdieharder/libdieharder_la-diehard_parking_lot.o
libdieharder/libdieharder_la-diehard_rank_32x32.lo
libdieharder/libdieharder_la-diehard_rank_32x32.o
libdieharder/libdieharder_la-diehard_rank_6x8.lo
libdieharder/libdieharder_la-diehard_rank_6x8.o
libdieharder/libdieharder_la-diehard_runs.lo
libdieharder/libdieharder_la-diehard_runs.o
libdieharder/libdieharder_la-diehard_squeeze.lo
libdieharder/libdieharder_la-diehard_squeeze.o
libdieharder/libdieharder_la-diehard_sums.lo
libdieharder/libdieharder_la-diehard_sums.o
libdieharder/libdieharder_la-dieharder_rng_types.lo
libdieharder/libdieharder_la-dieharder_rng_types.o
libdieharder/libdieharder_la-dieharder_test_types.lo
libdieharder/libdieharder_la-dieharder_test_types.o
libdieharder/libdieharder_la-histogram.lo
libdieharder/libdieharder_la-histogram.o
libdieharder/libdieharder_la-kstest.lo
libdieharder/libdieharder_la-kstest.o
libdieharder/libdieharder_la-marsaglia_tsang_gcd.lo
libdieharder/libdieharder_la-marsaglia_tsang_gcd.o
libdieharder/libdieharder_la-marsaglia_tsang_gorilla.lo
libdieharder/libdieharder_la-marsaglia_tsang_gorilla.o
libdieharder/libdieharder_la-parse.lo
libdieharder/libdieharder_la-parse.o
libdieharder/libdieharder_la-prob.lo
libdieharder/libdieharder_la-prob.o
libdieharder/libdieharder_la-random_seed.lo
libdieharder/libdieharder_la-random_seed.o
libdieharder/libdieharder_la-rank.lo
libdieharder/libdieharder_la-rank.o
libdieharder/libdieharder_la-rgb_bitdist.lo
libdieharder/libdieharder_la-rgb_bitdist.o
libdieharder/libdieharder_la-rgb_kstest_test.lo
libdieharder/libdieharder_la-rgb_kstest_test.o
libdieharder/libdieharder_la-rgb_lagged_sums.lo
libdieharder/libdieharder_la-rgb_lagged_sums.o
libdieharder/libdieharder_la-rgb_minimum_distance.lo
libdieharder/libdieharder_la-rgb_minimum_distance.o
libdieharder/libdieharder_la-rgb_permutations.lo
libdieharder/libdieharder_la-rgb_permutations.o
libdieharder/libdieharder_la-rgb_persist.lo
libdieharder/libdieharder_la-rgb_persist.o
libdieharder/libdieharder_la-rgb_timing.lo
libdieharder/libdieharder_la-rgb_timing.o
libdieharder/libdieharder_la-rijndael-alg-fst.lo
libdieharder/libdieharder_la-rijndael-alg-fst.o
libdieharder/libdieharder_la-rng_XOR.lo
libdieharder/libdieharder_la-rng_XOR.o
libdieharder/libdieharder_la-rng_aes.lo
libdieharder/libdieharder_la-rng_aes.o
libdieharder/libdieharder_la-rng_ca.lo
libdieharder/libdieharder_la-rng_ca.o
libdieharder/libdieharder_la-rng_dev_arandom.lo
libdieharder/libdieharder_la-rng_dev_arandom.o
libdieharder/libdieharder_la-rng_dev_random.lo
libdieharder/libdieharder_la-rng_dev_random.o
libdieharder/libdieharder_la-rng_dev_urandom.lo
libdieharder/libdieharder_la-rng_dev_urandom.o
libdieharder/libdieharder_la-rng_file_input.lo
libdieharder/libdieharder_la-rng_file_input.o
libdieharder/libdieharder_la-rng_file_input_raw.lo
libdieharder/libdieharder_la-rng_file_input_raw.o
libdieharder/libdieharder_la-rng_jenkins.lo
libdieharder/libdieharder_la-rng_jenkins.o
libdieharder/libdieharder_la-rng_kiss.lo
libdieharder/libdieharder_la-rng_kiss.o
libdieharder/libdieharder_la-rgb_operm.lo
libdieharder/libdieharder_la-rgb_operm.o
libdieharder/libdieharder_la-rng_stdin_input_raw.lo
libdieharder/libdieharder_la-rng_stdin_input_raw.o
libdieharder/libdieharder_la-rng_superkiss.lo
libdieharder/libdieharder_la-rng_superkiss.o
libdieharder/libdieharder_la-rng_threefish.lo
libdieharder/libdieharder_la-rng_threefish.o
libdieharder/libdieharder_la-rng_uvag.lo
libdieharder/libdieharder_la-rng_uvag.o
libdieharder/libdieharder_la-rng_wyrand.lo
libdieharder/libdieharder_la-rng_wyrand.o
libdieharder/libdieharder_la-rng_xoroshiro64bit.lo
libdieharder/libdieharder_la-rng_xoroshiro64bit.o
libdieharder/libdieharder_la-rng_xoshiro32bit.lo
libdieharder/libdieharder_la-rng_xoshiro32bit.o
libdieharder/libdieharder_la-rngav.lo
libdieharder/libdieharder_la-rngav.o
libdieharder/libdieharder_la-rngs_gnu_r.lo
libdieharder/libdieharder_la-rngs_gnu_r.o
libdieharder/libdieharder_la-sample.lo
libdieharder/libdieharder_la-sample.o
libdieharder/libdieharder_la-skein_block64.lo
libdieharder/libdieharder_la-skein_block64.o
libdieharder/libdieharder_la-skein_block_ref.lo
libdieharder/libdieharder_la-skein_block_ref.o
libdieharder/libdieharder_la-std_test.lo
libdieharder/libdieharder_la-std_test.o
libdieharder/libdieharder_la-sts_monobit.lo
libdieharder/libdieharder_la-sts_monobit.o
libdieharder/libdieharder_la-sts_runs.lo
libdieharder/libdieharder_la-sts_runs.o
libdieharder/libdieharder_la-sts_serial.lo
libdieharder/libdieharder_la-sts_serial.o
libdieharder/libdieharder_la-timing.lo
libdieharder/libdieharder_la-timing.o
libdieharder/libdieharder_la-version.lo
libdieharder/libdieharder_la-version.o
libtool
manual/dieharder.aux
manual/dieharder.dvi
manual/dieharder.log
manual/dieharder.out
manual/dieharder.pdf
manual/dieharder.ps
manual/dieharder.toc
manual/dieharder_a4.pdf
manual/dieharder_a4.ps
manual/macros.tex
stamp-h1
/.build
/.build-*
/.install
